.pop-down {
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 1.7rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
  background-color: #008000;
  text-align: center;
}

.pop-down a {
  color: white;
  text-decoration: underline;
}

.affix .pop-down {
  height: 0%;
  display: none;
}

.pop-down + .navbar-custom {
  margin-top: 80px;
  transition: margin-top 0.3s;
}

@media (min-width: 601px) {
  .pop-down + .navbar-custom {
    margin-top: 60px;
  }
}

.pop-down + .navbar-custom.affix {
  margin-top: 0;
}
